* {
    box-sizing: border-box;
    padding:0px;
    margin :0px;
}

body{
    background: rgb(23, 19, 64);
    margin: 110px 110px;
}

#bgVideo{
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    z-index: -1;
    top: 0;
    right: 0;
}

.card{
    background:yellowgreen;
    width:170px;
    height:500px;
    margin:12px;
    border-radius: 7px;
}
.container{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
    
}
.card-image{
    background:brown;
    height: 250px;
    width: 170px;
}
.ep-1 {
      background-image:url('./img/starwarep-1.jpg');
}
.ep-2{
    background-image: url('./img/2.jpg');
}
.ep-3{
    background-image: url('./img/starwarep-3.jpg');
}
.ep-4{
    background-image: url('./img/starwarep-4.jpg');
}
.ep-5{
    background-image:url('./img/str5.jpg');
    
}
.card h3{
    padding: 8px;
    text-align: center;
}
.card p{
    padding:7px;
    text-align: center;
}
.card:hover{
    background-color: aqua;
    transform: scale(1.02);
    transition: 0.2s;
}